@font-face {
    font-family: Rounded;
    src: url('fonts/CandelaBook.otf');
}

html, body {
    margin: 0;
    height: 100%;
}

/* General boxes/buttons CSS: */

.box {
    position: relative;
    text-align: center;
    text-decoration: none;
    font-family: Rounded;
    margin-bottom: 3.1vh;
    display: block;
    width: 9vw;
    height: 9.2vh;
    /* Rollover effect: */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

/* Removes blue outline when clicked: */
.box:focus {
    outline: none;
}


.course-box {

}

.semester-box {
    color: black;
    /* Border of rectangle: */
    border: 0.09vw solid black;
}

#panel {
    margin-top: 2vh;
    margin-left: 0.7vw;
}

.column {
    display: inline-block;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
    float: left;
}

.incomplete-course {
    background-color: white;
    color: black;
    /* Border of rectangle: */
    border: 0.09vw solid black;
}

.complete-course {
    background-color: #b1fca4; /* light green */
    color: black;
    /* Border of rectangle: */
    border: 0.09vw solid black;
}


/* This media block disables hover in touch devices: */
@media (hover: hover) {
    .incomplete-course:hover {
        color: #870404; /* dark red */
        background-color: #ffeded; /* light red */
        border-color: #870404; /* dark red */
    }

    .complete-course:hover {
        color: #003305; /* dark green */
        background-color: #77ef85; /* green */
        border-color: #003305; /* dark green */
    }

}

.incomplete-semester {
    background-color: #e7ede6; /* light gray */
}

.complete-semester {
    background-color: #fcfab0; /* light yellow */
}

/* CSS animation for glowing course boxes: */

@keyframes glowing {
    0% { box-shadow: 0 0 -20px #ef1717; }
    40% { box-shadow: 0 0 20px #ef1717; }
    60% { box-shadow: 0 0 20px #ef1717; }
    100% { box-shadow: 0 0 -20px #ef1717; }
}

.course-glow {
    animation: glowing 800ms infinite;
}

/* Text CSS: */

.course-name {
    display: block;
    font-size: calc(0.7vw + 0.6vh);
    line-height: 120%;
}

.course-credits {
    margin-top: 0.2vw;
    display: block;
    font-size: calc(0.5vw + 0.9vh);
}


.semester-name {
    display: block;
    font-size: calc(0.7vw + 1vh);
}

/* Prevents text selection on mousedown: */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Circular question mark button: */

.help-tip{
	position: absolute;
	top: 2.2vh;
	right: 0.8vw;
	text-align: center;
	background-color: white;
	border-radius: 50%;
    border: 0.08vw solid black;
	width: 1.7vw;
	height: 1.7vw;
	font-size: calc(0.8vw + 0.8vh);
	line-height: 3.6vh;
	cursor: default;
    text-decoration: none;
    /* Rollover effect: */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color: #a7acb2;
}

.help-tip:hover{
	background-color: #f2f2f2;
}
