.tt-text {
    display: none;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 38%;
    margin-left: -60px;
    opacity: 1;
}

.tt-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}


.slider {
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    -ms-transform:scale(0.6);
    transform:scale(0.6);
}
