@font-face {
    font-family: Rounded;
    src: url('fonts/CandelaBook.otf');
}

html, body {
    margin: 0;
    height: 100%;
}

/* General boxes/buttons CSS: */

.box {
    position: relative;
    text-align: center;
    text-decoration: none;
    font-family: Rounded;
    margin-bottom: 3.1vh;
    display: block;
    width: 9vw;
    height: 9.2vh;
}

/* Removes blue outline when clicked: */
.box:focus {
    outline: none;
}


.course-box {
	color: black;
    /* Border of rectangle: */
    border: 0.09vw solid black;
}

.semester-box {
    color: black;
    /* Border of rectangle: */
    border: 0.09vw solid black;
}

#panel {
    margin-top: 2vh;
    margin-left: 0.7vw;
}

.column {
    display: inline-block;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
    float: left;
}

.incomplete-course {
    background-color: white;
    color: black;
    /* Border of rectangle: */
    border: 0.09vw solid black;
}

.complete-course {
    background-color: #b1fca4; /* light green */
    color: black;
    /* Border of rectangle: */
    border: 0.09vw solid black;
}


/* This media block disables hover in touch devices: */
@media (hover: hover) {
    .incomplete-course:hover {
        color: #870404; /* dark red */
        background-color: #ffeded; /* light red */
        border-color: #870404; /* dark red */
    }

    .complete-course:hover {
        color: #003305; /* dark green */
        background-color: #77ef85; /* green */
        border-color: #003305; /* dark green */
    }

}

.incomplete-semester {
    background-color: #e7ede6; /* light gray */
}

.complete-semester {
    background-color: #fcfab0; /* light yellow */
}

/* CSS animation for glowing course boxes: */

@keyframes glowing {
    0% { box-shadow: 0 0 -20px #ef1717; }
    40% { box-shadow: 0 0 20px #ef1717; }
    60% { box-shadow: 0 0 20px #ef1717; }
    100% { box-shadow: 0 0 -20px #ef1717; }
}

.course-glow {
    animation: glowing 800ms infinite;
}

/* Text CSS: */

.course-name {
    display: block;
    font-size: calc(0.7vw + 0.6vh);
    line-height: 120%;
}

.course-credits {
    margin-top: 0.2vw;
    display: block;
    font-size: calc(0.5vw + 0.9vh);
}


.semester-name {
    display: block;
    font-size: calc(0.7vw + 1vh);
}

/* Prevents text selection on mousedown: */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Class to make objects fade when changing colors: */
.transition {
	transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}


/* Options menu: */

#options-menu .option {
	position: absolute;
	top: 2.2vh;
	right: 0.8vw;
	text-align: center;
	border-radius: 50%;
    border: 0.08vw solid black;
	width: 1.85vw;
	height: 1.85vw;
	cursor: default;
    /* Rollover effect: */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	/* Image icon positioning: */
	background-size: 1.85vw 1.85vw;
	background-position: center;
}


#options-menu #help {
	top: 1vw;
	background-image: url("images/help.png");
}

#options-menu #lock {
	top: 3.7vw;
	background-image: url("images/lock.png");
}

#options-menu #bucket {
	top: 6.4vw;
	background-image: url("images/bucket.png");
}

#options-menu #switch {
	top: 9.1vw;
	background-image: url("images/switch.png");
}

.option-marked {
	background-color: #b1fca4;
}



/* Warning for when screen is in portrait mode: */

#portrait-warning {
	display: none;
	position: fixed;
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	background: white url("images/rotate-phone.png") no-repeat center;
	z-index: 1000;
}

#portrait-warning h3 {
	font-family: Rounded;
	font-size: calc(0.8vw + 2vh);
	width: 100%;
	text-align: center;
	position: absolute;
  	top: 60%;
  	transform: translateY(-50%);
}
