
/* General tooltip configuration: */

.tooltip {
    display: none;
    background: #fff;
    border: solid 2px #a5a5a5;
    color: #999;
    left: -20px;
    padding: 16px;
    position: absolute;
    margin-top: 16px;
    width: 100%;
    height: 10%;
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 1;
}

.tooltip:before {
    border-left: solid transparent 13px;
    border-right: solid transparent 13px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -16px;
    position: absolute;
    width: 0;
}

.tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}


/* Top configuration: */

.tooltip.top {
    top: -80px;
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.tooltip.top:before {
    border-top: solid #a5a5a5 13px;
    bottom: -13px;
}

.tooltip.top:after {
    border-top: solid #fff 10px;
    bottom: -10px;
}

/* Bottom configuration: */

.tooltip.bottom {
    bottom: -80px;
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.tooltip.bottom:before {
    border-bottom: solid #ccc 13px;
    top: -13px;
}

.tooltip.bottom:after {
    border-bottom: solid #fff 10px;
    top: -10px;
}

/* Slider general styling: */

.slider {
    width: 130%;
    left: -14px;
    top: -6px;
    border: 0.09vw solid #333333;
    -webkit-transform:scale(0.77);
    -moz-transform:scale(0.77);
    -ms-transform:scale(0.77);
    transform:scale(0.77);
}
